.footer-tablet {
    @media screen and (min-width:768px) {

        display: flex;
    }

    @media screen and (min-width:768px) and (max-width: 1199px) {
       
        justify-content: space-around
    }
}

.addres {
    @media screen and (min-width:320px) {
        text-align: center;
        padding-bottom: 60px;
    }
    
    @media screen and (min-width:1200px) {
        text-align: initial;
        margin-right: 70px;
        padding-bottom: 0px;
    }
  
}

.footer-address {
    margin-top: 20px;
    font-style: normal;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-link {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-maps {
    display: block;
    color: var(--primary-white-color);

    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}



