@import "../utils/flex-placeholder";

.connection {
    @media screen and (min-width:320px) {
        text-align: center;
        padding-bottom: 60px;
    }
    
    @media screen and (min-width:1200px) {
        padding-top: 10px;
        text-align: initial;
        padding-bottom: 0px;
    }
}

.social {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-top: 0;

    @media screen and (min-width:320px) {
        
        padding-bottom: 20px;
    }
    
    @media screen and (min-width:1200px) {
     
        padding-bottom: 0px;
    }
}

.social-list {
   @extend %flex;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.social-item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

