

.hero {          
        @media screen and (min-width: 320px) {
               max-width: 1600px;
               text-align: center;

               margin-left: auto;
               margin-right: auto;
               padding-top: 118px;
               padding-bottom: 118px;
               
               background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg_S.jpg);
            background-color: var(--primary-text-color);
               background-repeat: no-repeat;
               background-position: center;
               background-size: cover;

               @include mq(retina) {
                background-color: #2f303a;
                   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg_S@2x.jpg);
               }
        }
           
     
        @media screen and (min-width: 768px) {
            
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero_bg_M@2x.jpg);
            @include mq(retina) {
            
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero_bg_M@2x.jpg);
            }
        }

        @media screen and (min-width: 1200px) {
            padding-top: 200px;
            padding-bottom: 200px;
            background-color: #2f303a;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero_bg_L@2x.jpg);
            @include mq(retina) {
                background-color: #2f303a;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero_bg_L@2x.jpg);
            }
        }
}

.hero-titel {
    @media screen and (min-width: 320px) {
        width: 300px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        
    
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--primary-white-color);
    }

    @media screen and (min-width: 480px) {
        width: 360px;
    }


    @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    }
}


.footer {
    
    background-color: #2f303a;
}