@import "../utils/flex-placeholder";

/* навигация */

.main-nav {
    display: flex;
    align-items: center;
}

// .header-nav {
//     display: flex;
//     align-items: center;
// }



.site-nav {
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
        margin-left: 93px;
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style: none;
    }
   
}

.site-nav .item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.nav-address {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: auto;
        
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style: none;  
    }

}

/* дай отступ соседу. при добавлении кнопок не нужно будет редактировать что-то типа last child */
.nav-address .item+.item {
    margin-left: 50px;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
}

.nav-link,
.logo {
    color: var(--titel-text-color);
    text-decoration: none;
}

.nav-contacts {
    @extend %flex;

    padding-top: 32px;
    padding-bottom: 32px;

    color: inherit;
    text-decoration: none;

    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: #2196f3;
    }

    &:hover .nav-icon,
    &:focus .nav-icon {
        fill: var(--accent-color);
    }
}