@import "../utils/flex-placeholder";

.projects {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc(100% / 2 - 15px);
        margin-left: -15px;
        margin-top: -15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    border: #000000;
    }
    
}

.project-list {
    margin-bottom: 30px;   
     &:last-child {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 15px;
        margin-top: 15px;
        flex-basis: calc((100% - 60px) / 2);
    }
     
    @media screen and (min-width: 1200px) {
        
         flex-basis: calc(100% / 3 - 30px);
         margin-left: 30px;
         margin-bottom: 30px;
         }
    }
   

.project-link {
    display: block;

    transition: box-shadow 250ms var(--cubic);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);        
    }

    &:hover .product-overlay,
    &:focus .product-overlay {
    transform: translateY(0);
    opacity: 1;
    }

    &:hover .product-action,
    &:focus .product-action {
        opacity: 1;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.portfolio-image {
    margin: 0px;
}

.project-wrap {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(23, 138, 232, 0.9);

    opacity: 0;

    transform: translateY(100%);
    transition: transform 250ms var(--cubic),
    opacity 250ms var(--cubic);
}

.product-action {
    position: absolute;

    @extend %flex;

    padding: 63px 24px;

    top: 0;
    left: 0;

    font-Size: 18px;
    Line-height: 1.55;
    letter-spacing: 0.03em;

    color: var(--primary-white-color);

    opacity: 0;
}


.container-projects {

    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;

    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        flex-grow: 1;
    }

}

.portfolio-title {
    margin: 0;
    color: var(--primary-text-color);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.87;
}