.main-lists {
    margin-top: 30px;

    @media screen and (min-width: 480px) {
       margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 94px;
        margin-bottom: 94px;
    }
    
}