.peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
}

.peculiarities-titel {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--titel-text-color);
}

.peculiarities-list {

    @media screen and (min-width: 480px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        ;
    }
}

.peculiarities-item {
    width: 270px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }
}

.peculiarities-disc {
    margin: 0;
    padding: 0;
    width: 270;
    line-height: 1.7;
}